<h1>Here are my outfit picks...</h1>
<div>
    <img height="90px" src="https://i.ytimg.com/vi/wFfqJ9q3wUc/maxresdefault.jpg">
    <img height="90px" src="http://2.bp.blogspot.com/-HWVne6XFKCs/UMtiIYGq7YI/AAAAAAAABEE/l_2DFDwaSkQ/s1600/Christmas+Party+dresses+2+copy.jpg">
    <img height="90px" src="https://i.ytimg.com/vi/sUnA5tRJz0U/maxresdefault.jpg">
</div>

<h1>Here are YOUR outfit picks...</h1>


<div id="outfitList">
    <% for (var i = data.length-1; i>=0; i--){ 
        var outfits = data[i] %>
        <div class="outfits">
            <% for (var j = 0; j<outfits.length; j++){
              var article = outfits[j] %>
                <div class="article">
                    <p>
                      Brand: <%= article.brand %>
                    </p>
                    <p>
                    $ <%= article.price %>
                    </p>
                     <p>
                    <img width="40px" src="<%= article.imageLink %>">
                    </p>
                <div> 

            <% } %> <form id="delOufit-form" method="POST" action="/deleteOutfit">
                <button type="submit">DELETE OUTFIT</button>
                </form>
                
        </div> ------------------------------------
    <% } %>
</div>