<h1>Here are my outfit picks...</h1>
<div>
    <img height="90px" src="https://i.ytimg.com/vi/wFfqJ9q3wUc/maxresdefault.jpg">
    <img height="90px" src="http://2.bp.blogspot.com/-HWVne6XFKCs/UMtiIYGq7YI/AAAAAAAABEE/l_2DFDwaSkQ/s1600/Christmas+Party+dresses+2+copy.jpg">
    <img height="90px" src="https://i.ytimg.com/vi/sUnA5tRJz0U/maxresdefault.jpg">
</div>

<h1>Here are YOUR outfit picks...</h1>


<div id="outfitList">
    <% for (var i = 0; i < data.length; i++){ 
        var outfits = data[i] %>
        <div class="outfits">
            <% for (var j = 0; outfits.length; j++){
              var article = outfits[j] %>
                <div class="article">
                    <p>
                       namers
                    </p>
                    <p>
                       link
                    </p>
                <div>
            <% } %>
        </div>
    <% } %>
</div>