    <form method="post" action="/article/create">
        <!--<input type="hidden" name="_method" value="PUT"> needs this hidden input for PUT to work-->
 
         <div>
            <p>Type: <input type="text" name="type" value="type" required></p>
            <p>Brand: <input type="text" name="brand" value="brand" required></p>
            <p>Price: $<input type="text" name="price" value="price" required></p>
           <p>Image URL <input type="text" name="imageLink" value="imageLink" required></p>
        </div>

        <button type="submit">submit</button>
    </form>