
<% include header %>

<a href="/articlespage" method="post">
<button name="pushbutton" type="submit">articles</button></a>
<a href="/outfitspage">
<button name="pushbutton" type="submit">outfits</button></a>

</body >
</html >
